version: "3.9"

services:
  db:
    image: postgis/postgis:16-3.4
    environment:
      POSTGRES_DB: eventmap
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7
    container_name: eventmap_redis
    ports:
      - "6379:6379"

  api:
    build: .
    ports:
      - "8008:8000"
    depends_on:
      db:
        condition: service_healthy
    environment:
      - REDIS_URL=redis://redis:6379/0